@charset "utf-8"
@import "../base"

.sc-main
    .sc-ui-submit
        padding-top 20px
    .sc-ui-user-detail
        margin 0
        padding-left 10px
        padding-left 10px
        .detail-group
            margin-bottom 2px
