@charset "utf-8"
@import "../base"

.sc-main
    .sc-ui-switch-date
        position absolute
        left 30%
        top 80px
        width 400px
        z-index 100
        .dialog
            .dialog-btn
                width 120px
    .sc-ui-cancel-order
        position absolute
        left 30%
        top 80px
        width 400px
        z-index 100
        .dialog
            .dialog-btn
                width 120px
    .sc-ui-search
        margin 0
        padding 10px
        border-bottom 1px solid #DDDDDD
    .sc-ui-orders
        .order-paid
            color #008080
        .order-unpaid
            color #DD1144
        .order-state
            color #FFFFFF
