@charset "utf-8"
@import "../base"

.sc-main
    .sc-ui-venue-settings
        .venue-times
            .btn
                margin-top 4px
        .venue-submit
            text-align center
            .btn
                width 120px
    .sc-ui-role-settings
        .role-add
            text-decoration none
            background-color #337ab7
            color #FFF
            border-style none
        .role-selected
            margin-bottom 10px
            .btn
                margin-top 4px
        .role-submit
            text-align center
            .btn
                width 120px
    .sc-ui-helps
        background-color #f5faff
        padding-left 20px
        padding-right 20px
        p
            font-size 14px
            text-indent 28px
        img
            border 1px solid #337ab7
            width 100%
            height 240px
            display block
            margin 0 auto
