{% extends '../layout.html' %}

{% block title %} 忘记密码 - 场馆运营预订平台 {% endblock %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/passport/passport_login.css?__inline" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid sc-main">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 sc-login">
            <form id="sc-form-password" action="/pp/ForgetPasswordSubmit" method="POST" novalidate>
                <h2 class="text-center sc-title">场馆运营预订平台</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="user_name" name="user_name"
                           placeholder="用户名" autocomplete="off"
                           data-val="true" data-val-required="用户名不能为空"
                           data-val-regex-pattern="^[A-Za-z][A-Za-z0-9_]{6,10}$" data-val-regex="用户名长度只能8~12个字符">
                    <div data-valmsg-for="user_name" data-valmsg-replace="true"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="邮箱" autocomplete="off"
                           data-val="true" data-val-required="邮箱不能为空"
                           data-val-email="邮箱格式不合法">
                    <div data-valmsg-for="email" data-valmsg-replace="true"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="code" name="code"
                               placeholder="验证码" autocomplete="off"
                               data-val="true" data-val-required="验证码不能为空"
                               data-val-equalto="验证码错误" data-val-equalto-other="confirm_code">
                        <div class="input-group-addon"><%= code %></div>
                        <input type="hidden" id="confirm_code" name="confirm_code" value="<%= code %>">
                    </div>
                    <div data-valmsg-for="code" data-valmsg-replace="true"></div>
                </div>
                <p class="text-danger text-center sc-errors"><%= errors %></p>
                <div class="form-group text-center sc-btns">
                    <a href="javascript:void(0)" class="btn btn-primary sc-submit">
                        <span class="glyphicon glyphicon-ok"></span> 提交
                    </a>
                    <a href="/pp/Login" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span> 返回
                    </a>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
<script src="/public/lib/jquery/validate/jquery.validate.min.js"></script>
<script src="/public/lib/jquery/validate/jquery.validate.unobtrusive.min.js"></script>
<script src="/public/app/passport/passport_password_forget.js?__inline"></script>
{% endblock %}
