{% extends '../layout.html' %}

{% block title %} 修改密码 - 场馆运营预订平台 {% endblock %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/passport/passport_modify.css?__inline" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

{% include "../partial/header.html" %}
<div class="container-fluid ">
    <div class="row">
        {% include "../partial/nav.html" %}
        <div class="col-sm-11 col-sm-offset-1 sc-main">
            {% include "../partial/top_nav.html" %}
            <div class="row">
                <form id="sc-form-password" class="form-horizontal" action="/pp/ModifyPasswordSubmit" method="post" novalidate>
                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label">用户名</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="account" name="account"
                                   placeholder="用户名" readonly value="<%= data.account %>" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldpassword" class="col-sm-2 control-label">旧密码</label>

                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="oldpassword" name="oldpassword"
                                   placeholder="旧密码" autocomplete="off"
                                   data-val="true" data-val-required="密码不能为空">
                            <div data-valmsg-for="oldpassword" data-valmsg-replace="true"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">新密码</label>

                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="新密码" autocomplete="off"
                                   data-val="true" data-val-required="新密码不能为空">
                            <div data-valmsg-for="password" data-valmsg-replace="true"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmpassword" class="col-sm-2 control-label">确认密码</label>

                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                                   placeholder="确认密码" autocomplete="off"
                                   data-val="true" data-val-required="确认密码不能为空"
                                   data-val-equalto="密码输入不一致" data-val-equalto-other="password">
                            <div data-valmsg-for="confirmpassword" data-valmsg-replace="true"></div>
                        </div>
                    </div>

                    <div class="form-group sc-ui-submit">
                        <div class="col-sm-10 text-center">
                            <p class="sc-submit-tips"></p>
                            <button class="btn btn-primary sc-submit">
                                <span class="glyphicon glyphicon-ok"></span> 确定
                            </button>
                            <a href="/" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span> 返回
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
<script src="/public/app/passport/passport_password_modify.js?__inline"></script>
{% endblock %}
