<nav class="navbar navbar-inverse navbar-fixed-top sc-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">场馆运营预订平台</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right sc-header-navbar">
                <li><a href="/dashboard/Settings">
                    <img src="/public/images/icons/setting.png" class="sc-header-navbar-icon">系统配置</a>
                </li>
                <li class="header-navbar-message"><a href="/dashboard/Message">
                    <img src="/public/images/icons/appointment.png" class="sc-header-navbar-icon">我的消息
                    <span class="badge">0</span></a>
                </li>
                <!--<li><a href="/dashboard/Helps">
                    <img src="/public/images/icons/question.png" class="sc-header-navbar-icon">帮助建议</a>
                </li>-->
                <li><a href="javascript:void(0);">
                    <img src="/public/images/icons/user.png" class="sc-header-navbar-icon">我的账号</a>
                    <ul class="dropdown-menu">
                        <li><a href="/pp/ModifyPassword">
                            <img src="/public/images/icons/key.png" class="sc-header-navbar-icon">修改密码</a>
                        </li>
                        <li><a href="/pp/CompleteAccount">
                            <img src="/public/images/icons/profile.png" class="sc-header-navbar-icon">完善信息</a>
                        </li>
                        <li><a href="javascript:void(0);" class="sc-logout">
                            <img src="/public/images/icons/exit.png" class="sc-header-navbar-icon">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
