@charset "utf-8"
@import "../base"

body
    display table
    background url("/public/images/bj.jpg") no-repeat center
    background-size 100% 100%

.sc-main
    display table-cell
    vertical-align middle
    .sc-login
        opacity 0.8
        box-shadow: 0 0 12px #080808;
        border-radius 12px
        background #222222
        background -ms-linear-gradient(top, #666666,  #080808);
        background -moz-linear-gradient(top,#666666, #080808);
        background -webkit-gradient(linear, 0% 0%, 0% 100%,from(#666666), to(#080808));
        background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#080808));
        background -webkit-linear-gradient(top, #666666, #080808);
        background -o-linear-gradient(top, #666666, #080808);
        .sc-title
            margin 20px
            color #FFFFFF
        .sc-btns
            margin 20px
            a,input
                width 100px
                margin-right 20px