{% extends '../layout.html' %}

{% block title %} 商品管理帮助 - 场馆运营预订平台 {% endblock %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
<link href="/public/style/dashboard/dashboard_index.css?__inline" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

{% include "../partial/header.html" %}
<div class="container-fluid">
    <div class="row">
        {% include "../partial/nav.html" %}
        <div class="col-sm-11 col-sm-offset-1 sc-main">
            {% include "../partial/top_nav.html" %}
            <div class="row">
                <ul class="nav nav-pills pull-right sc-nav-reports">
                    <li role="presentation"><a href="/venue/Helps">场馆预订</a></li>
                    <li role="presentation"><a href="/users/Helps">会员档案</a></li>
                    <li role="presentation"><a href="/reports/Helps">数据统计</a></li>
                    <li role="presentation" class="active"><a href="javascript:void(0);">商品管理</a></li>
                </ul>

                <div class="sc-ui-helps">
                    <h4 class="text-center">1. 商品购买</h4>
                    <div class="col-sm-6">
                        <img src="/public/images/helps/venue.png">
                        <p class="text-center"><strong>场馆预订图一: 场馆时序图</strong></p>
                    </div>
                    <div class="col-sm-6">
                        <img src="/public/images/helps/venue2.png">
                        <p class="text-center"><strong>场馆预订图二: 单个预订</strong></p>
                    </div>
                    <div class="col-sm-12 helps-content">
                        <p>如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。</p>
                        <p>如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。</p>
                    </div>
                </div>
                <div class="sc-ui-helps">
                    <h4 class="text-center">2. 场馆批量预订</h4>
                    <div class="col-sm-6">
                        <img src="/public/images/helps/blockvenue.png">
                        <p class="text-center"><strong>场馆预订图三: 批量预订用户</strong></p>
                    </div>
                    <div class="col-sm-6">
                        <img src="/public/images/helps/blockvenue2.png">
                        <p class="text-center"><strong>场馆预订图四: 批量预订场次</strong></p>
                    </div>
                    <div class="col-sm-12 helps-content">
                        <p>如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。</p>
                        <p>如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有元素的外面，
                            并在组件内部添加一个元素。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
{% endblock %}
